# Database Configuration
DATABASE_URL=postgresql://postgres:10203040@db.gwowagsruidlskhojpal.supabase.co:5432/postgres

# JWT Secret
JWT_SECRET=seu-jwt-secret-super-seguro-aqui

# PostgreSQL Local (usado pelo container db)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=10203040
POSTGRES_DB=postgres

# Frontend API URL
NEXT_PUBLIC_API_URL=http://localhost:4000
